form(action='/',
  method='post')
  p
    input(name="tank[volume]",
      size="5",
      length="5",
      type="int")
    select(name="tank[units")
      option(value="gal") gal
      option(value="L") L
  p
    select(name="dose[compound]")
      each compound in compounds
        option(value= compound.name)= compound.name
    input(name="dose[amount]",
      size="5",
      length="5",
      type="int")
    select(name="dose[units")
      option(value="tsp") tsp
      option(value="grams") grams
      option(value="milligrams") milligrams
  p
    input(id='ask',
      onclick="_gaq.push(['_trackPageview', '/mixalot_submit'])",
      type='submit',
      value='Gimmie')


